Covid Patient Alert/Covid Data Plot.json
[{"id":"f475a34f.d8af9","type":"inject","z":"6a2bd334.40491c","name":"Adi","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":60,"wires":[["be955c71.ab9b"]]},{"id":"fce68209.0c067","type":"function","z":"6a2bd334.40491c","name":"","func":"var m={};\nm.labels = [msg.payload.Sheet1[0].Date,msg.payload.Sheet1[1].Date,msg.payload.Sheet1[2].Date,msg.payload.Sheet1[3].Date,msg.payload.Sheet1[4].Date,msg.payload.Sheet1[5].Date,msg.payload.Sheet1[6].Date,msg.payload.Sheet1[7].Date,msg.payload.Sheet1[8].Date,msg.payload.Sheet1[9].Date,msg.payload.Sheet1[10].Date,msg.payload.Sheet1[11].Date,msg.payload.Sheet1[12].Date,msg.payload.Sheet1[13].Date,msg.payload.Sheet1[14].Date,msg.payload.Sheet1[15].Date,msg.payload.Sheet1[16].Date,msg.payload.Sheet1[17].Date,msg.payload.Sheet1[18].Date,msg.payload.Sheet1[19].Date];\nm.series = ['8AM', '11AM', '1PM', '6PM'];\nm.data = [\n    [msg.payload.Sheet1[0][\"8AM\"], msg.payload.Sheet1[1][\"8AM\"],msg.payload.Sheet1[2][\"8AM\"], msg.payload.Sheet1[3][\"8AM\"],msg.payload.Sheet1[4][\"8AM\"], msg.payload.Sheet1[5][\"8AM\"],msg.payload.Sheet1[6][\"8AM\"], msg.payload.Sheet1[7][\"8AM\"],msg.payload.Sheet1[8][\"8AM\"], msg.payload.Sheet1[9][\"8AM\"],msg.payload.Sheet1[10][\"8AM\"], msg.payload.Sheet1[11][\"8AM\"],msg.payload.Sheet1[12][\"8AM\"], msg.payload.Sheet1[13][\"8AM\"],msg.payload.Sheet1[14][\"8AM\"], msg.payload.Sheet1[15][\"8AM\"], msg.payload.Sheet1[16][\"8AM\"], msg.payload.Sheet1[17][\"8AM\"], msg.payload.Sheet1[18][\"8AM\"], msg.payload.Sheet1[19][\"8AM\"]],\n    [msg.payload.Sheet1[0][\"11AM\"], msg.payload.Sheet1[1][\"11AM\"],msg.payload.Sheet1[2][\"11AM\"], msg.payload.Sheet1[3][\"11AM\"],msg.payload.Sheet1[4][\"11AM\"], msg.payload.Sheet1[5][\"11AM\"],msg.payload.Sheet1[6][\"11AM\"], msg.payload.Sheet1[7][\"11AM\"],msg.payload.Sheet1[8][\"11AM\"], msg.payload.Sheet1[9][\"11AM\"],msg.payload.Sheet1[10][\"11AM\"], msg.payload.Sheet1[11][\"11AM\"],msg.payload.Sheet1[12][\"11AM\"], msg.payload.Sheet1[13][\"11AM\"],msg.payload.Sheet1[14][\"11AM\"], msg.payload.Sheet1[15][\"11AM\"], msg.payload.Sheet1[16][\"11AM\"], msg.payload.Sheet1[17][\"11AM\"], msg.payload.Sheet1[18][\"11AM\"], msg.payload.Sheet1[19][\"11AM\"]],\n    [msg.payload.Sheet1[0][\"1PM\"], msg.payload.Sheet1[1][\"1PM\"],msg.payload.Sheet1[2][\"1PM\"], msg.payload.Sheet1[3][\"1PM\"],msg.payload.Sheet1[4][\"1PM\"], msg.payload.Sheet1[5][\"1PM\"],msg.payload.Sheet1[6][\"1PM\"], msg.payload.Sheet1[7][\"1PM\"],msg.payload.Sheet1[8][\"1PM\"], msg.payload.Sheet1[9][\"1PM\"],msg.payload.Sheet1[10][\"1PM\"], msg.payload.Sheet1[11][\"1PM\"],msg.payload.Sheet1[12][\"1PM\"], msg.payload.Sheet1[13][\"1PM\"],msg.payload.Sheet1[14][\"1PM\"], msg.payload.Sheet1[15][\"1PM\"], msg.payload.Sheet1[16][\"1PM\"], msg.payload.Sheet1[17][\"1PM\"], msg.payload.Sheet1[18][\"1PM\"], msg.payload.Sheet1[19][\"1PM\"]],\n    [msg.payload.Sheet1[0][\"6PM\"], msg.payload.Sheet1[1][\"6PM\"],msg.payload.Sheet1[2][\"6PM\"], msg.payload.Sheet1[3][\"6PM\"],msg.payload.Sheet1[4][\"6PM\"], msg.payload.Sheet1[5][\"6PM\"],msg.payload.Sheet1[6][\"6PM\"], msg.payload.Sheet1[7][\"6PM\"],msg.payload.Sheet1[8][\"6PM\"], msg.payload.Sheet1[9][\"6PM\"],msg.payload.Sheet1[10][\"6PM\"], msg.payload.Sheet1[11][\"6PM\"],msg.payload.Sheet1[12][\"6PM\"], msg.payload.Sheet1[13][\"6PM\"],msg.payload.Sheet1[14][\"6PM\"], msg.payload.Sheet1[15][\"6PM\"], msg.payload.Sheet1[16][\"6PM\"], msg.payload.Sheet1[17][\"6PM\"], msg.payload.Sheet1[18][\"6PM\"], msg.payload.Sheet1[19][\"6PM\"]]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":610,"y":280,"wires":[["19501a4b.59b356"]]},{"id":"19501a4b.59b356","type":"ui_chart","z":"6a2bd334.40491c","name":"","group":"6b44220e.19f23c","order":1,"width":0,"height":0,"label":"Rahul's record (Temp vs Date)","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"93","ymax":"105","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":830,"y":300,"wires":[[]]},{"id":"9f701d40.46a54","type":"function","z":"6a2bd334.40491c","name":"","func":"var m={};\nm.labels = [msg.payload.Sheet1[0].Date,msg.payload.Sheet1[1].Date,msg.payload.Sheet1[2].Date,msg.payload.Sheet1[3].Date,msg.payload.Sheet1[4].Date,msg.payload.Sheet1[5].Date,msg.payload.Sheet1[6].Date,msg.payload.Sheet1[7].Date,msg.payload.Sheet1[8].Date,msg.payload.Sheet1[9].Date,msg.payload.Sheet1[10].Date,msg.payload.Sheet1[11].Date,msg.payload.Sheet1[12].Date,msg.payload.Sheet1[13].Date,msg.payload.Sheet1[14].Date,msg.payload.Sheet1[15].Date,msg.payload.Sheet1[16].Date,msg.payload.Sheet1[17].Date,msg.payload.Sheet1[18].Date,msg.payload.Sheet1[19].Date];\nm.series = ['8AM', '11AM', '1PM', '6PM'];\nm.data = [\n    [msg.payload.Sheet1[0][\"8AM\"], msg.payload.Sheet1[1][\"8AM\"],msg.payload.Sheet1[2][\"8AM\"], msg.payload.Sheet1[3][\"8AM\"],msg.payload.Sheet1[4][\"8AM\"], msg.payload.Sheet1[5][\"8AM\"],msg.payload.Sheet1[6][\"8AM\"], msg.payload.Sheet1[7][\"8AM\"],msg.payload.Sheet1[8][\"8AM\"], msg.payload.Sheet1[9][\"8AM\"],msg.payload.Sheet1[10][\"8AM\"], msg.payload.Sheet1[11][\"8AM\"],msg.payload.Sheet1[12][\"8AM\"], msg.payload.Sheet1[13][\"8AM\"],msg.payload.Sheet1[14][\"8AM\"], msg.payload.Sheet1[15][\"8AM\"], msg.payload.Sheet1[16][\"8AM\"], msg.payload.Sheet1[17][\"8AM\"], msg.payload.Sheet1[18][\"8AM\"], msg.payload.Sheet1[19][\"8AM\"]],\n    [msg.payload.Sheet1[0][\"11AM\"], msg.payload.Sheet1[1][\"11AM\"],msg.payload.Sheet1[2][\"11AM\"], msg.payload.Sheet1[3][\"11AM\"],msg.payload.Sheet1[4][\"11AM\"], msg.payload.Sheet1[5][\"11AM\"],msg.payload.Sheet1[6][\"11AM\"], msg.payload.Sheet1[7][\"11AM\"],msg.payload.Sheet1[8][\"11AM\"], msg.payload.Sheet1[9][\"11AM\"],msg.payload.Sheet1[10][\"11AM\"], msg.payload.Sheet1[11][\"11AM\"],msg.payload.Sheet1[12][\"11AM\"], msg.payload.Sheet1[13][\"11AM\"],msg.payload.Sheet1[14][\"11AM\"], msg.payload.Sheet1[15][\"11AM\"], msg.payload.Sheet1[16][\"11AM\"], msg.payload.Sheet1[17][\"11AM\"], msg.payload.Sheet1[18][\"11AM\"], msg.payload.Sheet1[19][\"11AM\"]],\n    [msg.payload.Sheet1[0][\"1PM\"], msg.payload.Sheet1[1][\"1PM\"],msg.payload.Sheet1[2][\"1PM\"], msg.payload.Sheet1[3][\"1PM\"],msg.payload.Sheet1[4][\"1PM\"], msg.payload.Sheet1[5][\"1PM\"],msg.payload.Sheet1[6][\"1PM\"], msg.payload.Sheet1[7][\"1PM\"],msg.payload.Sheet1[8][\"1PM\"], msg.payload.Sheet1[9][\"1PM\"],msg.payload.Sheet1[10][\"1PM\"], msg.payload.Sheet1[11][\"1PM\"],msg.payload.Sheet1[12][\"1PM\"], msg.payload.Sheet1[13][\"1PM\"],msg.payload.Sheet1[14][\"1PM\"], msg.payload.Sheet1[15][\"1PM\"], msg.payload.Sheet1[16][\"1PM\"], msg.payload.Sheet1[17][\"1PM\"], msg.payload.Sheet1[18][\"1PM\"], msg.payload.Sheet1[19][\"1PM\"]],\n    [msg.payload.Sheet1[0][\"6PM\"], msg.payload.Sheet1[1][\"6PM\"],msg.payload.Sheet1[2][\"6PM\"], msg.payload.Sheet1[3][\"6PM\"],msg.payload.Sheet1[4][\"6PM\"], msg.payload.Sheet1[5][\"6PM\"],msg.payload.Sheet1[6][\"6PM\"], msg.payload.Sheet1[7][\"6PM\"],msg.payload.Sheet1[8][\"6PM\"], msg.payload.Sheet1[9][\"6PM\"],msg.payload.Sheet1[10][\"6PM\"], msg.payload.Sheet1[11][\"6PM\"],msg.payload.Sheet1[12][\"6PM\"], msg.payload.Sheet1[13][\"6PM\"],msg.payload.Sheet1[14][\"6PM\"], msg.payload.Sheet1[15][\"6PM\"], msg.payload.Sheet1[16][\"6PM\"], msg.payload.Sheet1[17][\"6PM\"], msg.payload.Sheet1[18][\"6PM\"], msg.payload.Sheet1[19][\"6PM\"]]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":590,"y":60,"wires":[["39586932.8dfb56"]]},{"id":"be955c71.ab9b","type":"file in","z":"6a2bd334.40491c","name":"Adi Data","filename":"C:\\Users\\ASUS\\Desktop\\IOT Projects\\Project 2\\JSON-Data-master\\Adi.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":280,"y":60,"wires":[["1f2ecc7e.780d04"]]},{"id":"1f2ecc7e.780d04","type":"json","z":"6a2bd334.40491c","name":"","property":"payload","action":"","pretty":false,"x":450,"y":60,"wires":[["9f701d40.46a54"]]},{"id":"39586932.8dfb56","type":"ui_chart","z":"6a2bd334.40491c","name":"","group":"14ae22e1.d9519d","order":3,"width":0,"height":0,"label":"Adi's record (Temp vs Date)","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"93","ymax":"105","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":800,"y":80,"wires":[[]]},{"id":"a6ee1101.8a60e","type":"function","z":"6a2bd334.40491c","name":"","func":"var m={};\nm.labels = [msg.payload.Sheet1[0].Date,msg.payload.Sheet1[1].Date,msg.payload.Sheet1[2].Date,msg.payload.Sheet1[3].Date,msg.payload.Sheet1[4].Date,msg.payload.Sheet1[5].Date,msg.payload.Sheet1[6].Date,msg.payload.Sheet1[7].Date,msg.payload.Sheet1[8].Date,msg.payload.Sheet1[9].Date,msg.payload.Sheet1[10].Date,msg.payload.Sheet1[11].Date,msg.payload.Sheet1[12].Date,msg.payload.Sheet1[13].Date,msg.payload.Sheet1[14].Date,msg.payload.Sheet1[15].Date,msg.payload.Sheet1[16].Date,msg.payload.Sheet1[17].Date,msg.payload.Sheet1[18].Date,msg.payload.Sheet1[19].Date];\nm.series = ['8AM', '11AM', '1PM', '6PM'];\nm.data = [\n    [msg.payload.Sheet1[0][\"8AM\"], msg.payload.Sheet1[1][\"8AM\"],msg.payload.Sheet1[2][\"8AM\"], msg.payload.Sheet1[3][\"8AM\"],msg.payload.Sheet1[4][\"8AM\"], msg.payload.Sheet1[5][\"8AM\"],msg.payload.Sheet1[6][\"8AM\"], msg.payload.Sheet1[7][\"8AM\"],msg.payload.Sheet1[8][\"8AM\"], msg.payload.Sheet1[9][\"8AM\"],msg.payload.Sheet1[10][\"8AM\"], msg.payload.Sheet1[11][\"8AM\"],msg.payload.Sheet1[12][\"8AM\"], msg.payload.Sheet1[13][\"8AM\"],msg.payload.Sheet1[14][\"8AM\"], msg.payload.Sheet1[15][\"8AM\"], msg.payload.Sheet1[16][\"8AM\"], msg.payload.Sheet1[17][\"8AM\"], msg.payload.Sheet1[18][\"8AM\"], msg.payload.Sheet1[19][\"8AM\"]],\n    [msg.payload.Sheet1[0][\"11AM\"], msg.payload.Sheet1[1][\"11AM\"],msg.payload.Sheet1[2][\"11AM\"], msg.payload.Sheet1[3][\"11AM\"],msg.payload.Sheet1[4][\"11AM\"], msg.payload.Sheet1[5][\"11AM\"],msg.payload.Sheet1[6][\"11AM\"], msg.payload.Sheet1[7][\"11AM\"],msg.payload.Sheet1[8][\"11AM\"], msg.payload.Sheet1[9][\"11AM\"],msg.payload.Sheet1[10][\"11AM\"], msg.payload.Sheet1[11][\"11AM\"],msg.payload.Sheet1[12][\"11AM\"], msg.payload.Sheet1[13][\"11AM\"],msg.payload.Sheet1[14][\"11AM\"], msg.payload.Sheet1[15][\"11AM\"], msg.payload.Sheet1[16][\"11AM\"], msg.payload.Sheet1[17][\"11AM\"], msg.payload.Sheet1[18][\"11AM\"], msg.payload.Sheet1[19][\"11AM\"]],\n    [msg.payload.Sheet1[0][\"1PM\"], msg.payload.Sheet1[1][\"1PM\"],msg.payload.Sheet1[2][\"1PM\"], msg.payload.Sheet1[3][\"1PM\"],msg.payload.Sheet1[4][\"1PM\"], msg.payload.Sheet1[5][\"1PM\"],msg.payload.Sheet1[6][\"1PM\"], msg.payload.Sheet1[7][\"1PM\"],msg.payload.Sheet1[8][\"1PM\"], msg.payload.Sheet1[9][\"1PM\"],msg.payload.Sheet1[10][\"1PM\"], msg.payload.Sheet1[11][\"1PM\"],msg.payload.Sheet1[12][\"1PM\"], msg.payload.Sheet1[13][\"1PM\"],msg.payload.Sheet1[14][\"1PM\"], msg.payload.Sheet1[15][\"1PM\"], msg.payload.Sheet1[16][\"1PM\"], msg.payload.Sheet1[17][\"1PM\"], msg.payload.Sheet1[18][\"1PM\"], msg.payload.Sheet1[19][\"1PM\"]],\n    [msg.payload.Sheet1[0][\"6PM\"], msg.payload.Sheet1[1][\"6PM\"],msg.payload.Sheet1[2][\"6PM\"], msg.payload.Sheet1[3][\"6PM\"],msg.payload.Sheet1[4][\"6PM\"], msg.payload.Sheet1[5][\"6PM\"],msg.payload.Sheet1[6][\"6PM\"], msg.payload.Sheet1[7][\"6PM\"],msg.payload.Sheet1[8][\"6PM\"], msg.payload.Sheet1[9][\"6PM\"],msg.payload.Sheet1[10][\"6PM\"], msg.payload.Sheet1[11][\"6PM\"],msg.payload.Sheet1[12][\"6PM\"], msg.payload.Sheet1[13][\"6PM\"],msg.payload.Sheet1[14][\"6PM\"], msg.payload.Sheet1[15][\"6PM\"], msg.payload.Sheet1[16][\"6PM\"], msg.payload.Sheet1[17][\"6PM\"], msg.payload.Sheet1[18][\"6PM\"], msg.payload.Sheet1[19][\"6PM\"]]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":590,"y":140,"wires":[["fc6de001.e4bc8"]]},{"id":"fc6de001.e4bc8","type":"ui_chart","z":"6a2bd334.40491c","name":"","group":"ab569fc0.0f416","order":1,"width":0,"height":0,"label":"Mohit's record (Temp vs Date)","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"93","ymax":"105","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":810,"y":160,"wires":[[]]},{"id":"a3d64392.0ed6f","type":"function","z":"6a2bd334.40491c","name":"","func":"var m={};\nm.labels = [msg.payload.Sheet1[0].Date,msg.payload.Sheet1[1].Date,msg.payload.Sheet1[2].Date,msg.payload.Sheet1[3].Date,msg.payload.Sheet1[4].Date,msg.payload.Sheet1[5].Date,msg.payload.Sheet1[6].Date,msg.payload.Sheet1[7].Date,msg.payload.Sheet1[8].Date,msg.payload.Sheet1[9].Date,msg.payload.Sheet1[10].Date,msg.payload.Sheet1[11].Date,msg.payload.Sheet1[12].Date,msg.payload.Sheet1[13].Date,msg.payload.Sheet1[14].Date,msg.payload.Sheet1[15].Date,msg.payload.Sheet1[16].Date,msg.payload.Sheet1[17].Date,msg.payload.Sheet1[18].Date,msg.payload.Sheet1[19].Date];\nm.series = ['8AM', '11AM', '1PM', '6PM'];\nm.data = [\n    [msg.payload.Sheet1[0][\"8AM\"], msg.payload.Sheet1[1][\"8AM\"],msg.payload.Sheet1[2][\"8AM\"], msg.payload.Sheet1[3][\"8AM\"],msg.payload.Sheet1[4][\"8AM\"], msg.payload.Sheet1[5][\"8AM\"],msg.payload.Sheet1[6][\"8AM\"], msg.payload.Sheet1[7][\"8AM\"],msg.payload.Sheet1[8][\"8AM\"], msg.payload.Sheet1[9][\"8AM\"],msg.payload.Sheet1[10][\"8AM\"], msg.payload.Sheet1[11][\"8AM\"],msg.payload.Sheet1[12][\"8AM\"], msg.payload.Sheet1[13][\"8AM\"],msg.payload.Sheet1[14][\"8AM\"], msg.payload.Sheet1[15][\"8AM\"], msg.payload.Sheet1[16][\"8AM\"], msg.payload.Sheet1[17][\"8AM\"], msg.payload.Sheet1[18][\"8AM\"], msg.payload.Sheet1[19][\"8AM\"]],\n    [msg.payload.Sheet1[0][\"11AM\"], msg.payload.Sheet1[1][\"11AM\"],msg.payload.Sheet1[2][\"11AM\"], msg.payload.Sheet1[3][\"11AM\"],msg.payload.Sheet1[4][\"11AM\"], msg.payload.Sheet1[5][\"11AM\"],msg.payload.Sheet1[6][\"11AM\"], msg.payload.Sheet1[7][\"11AM\"],msg.payload.Sheet1[8][\"11AM\"], msg.payload.Sheet1[9][\"11AM\"],msg.payload.Sheet1[10][\"11AM\"], msg.payload.Sheet1[11][\"11AM\"],msg.payload.Sheet1[12][\"11AM\"], msg.payload.Sheet1[13][\"11AM\"],msg.payload.Sheet1[14][\"11AM\"], msg.payload.Sheet1[15][\"11AM\"], msg.payload.Sheet1[16][\"11AM\"], msg.payload.Sheet1[17][\"11AM\"], msg.payload.Sheet1[18][\"11AM\"], msg.payload.Sheet1[19][\"11AM\"]],\n    [msg.payload.Sheet1[0][\"1PM\"], msg.payload.Sheet1[1][\"1PM\"],msg.payload.Sheet1[2][\"1PM\"], msg.payload.Sheet1[3][\"1PM\"],msg.payload.Sheet1[4][\"1PM\"], msg.payload.Sheet1[5][\"1PM\"],msg.payload.Sheet1[6][\"1PM\"], msg.payload.Sheet1[7][\"1PM\"],msg.payload.Sheet1[8][\"1PM\"], msg.payload.Sheet1[9][\"1PM\"],msg.payload.Sheet1[10][\"1PM\"], msg.payload.Sheet1[11][\"1PM\"],msg.payload.Sheet1[12][\"1PM\"], msg.payload.Sheet1[13][\"1PM\"],msg.payload.Sheet1[14][\"1PM\"], msg.payload.Sheet1[15][\"1PM\"], msg.payload.Sheet1[16][\"1PM\"], msg.payload.Sheet1[17][\"1PM\"], msg.payload.Sheet1[18][\"1PM\"], msg.payload.Sheet1[19][\"1PM\"]],\n    [msg.payload.Sheet1[0][\"6PM\"], msg.payload.Sheet1[1][\"6PM\"],msg.payload.Sheet1[2][\"6PM\"], msg.payload.Sheet1[3][\"6PM\"],msg.payload.Sheet1[4][\"6PM\"], msg.payload.Sheet1[5][\"6PM\"],msg.payload.Sheet1[6][\"6PM\"], msg.payload.Sheet1[7][\"6PM\"],msg.payload.Sheet1[8][\"6PM\"], msg.payload.Sheet1[9][\"6PM\"],msg.payload.Sheet1[10][\"6PM\"], msg.payload.Sheet1[11][\"6PM\"],msg.payload.Sheet1[12][\"6PM\"], msg.payload.Sheet1[13][\"6PM\"],msg.payload.Sheet1[14][\"6PM\"], msg.payload.Sheet1[15][\"6PM\"], msg.payload.Sheet1[16][\"6PM\"], msg.payload.Sheet1[17][\"6PM\"], msg.payload.Sheet1[18][\"6PM\"], msg.payload.Sheet1[19][\"6PM\"]]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":570,"y":360,"wires":[["d5b787b5.4e8b98"]]},{"id":"d5b787b5.4e8b98","type":"ui_chart","z":"6a2bd334.40491c","name":"","group":"83132daa.4c98","order":1,"width":0,"height":0,"label":"Sumit's record (Temp vs Date)","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"93","ymax":"105","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":380,"wires":[[]]},{"id":"c6d38af5.3562c8","type":"inject","z":"6a2bd334.40491c","name":"Mohit","topic":"","payload":"{\"Sheet1\":[{\"Date\":\"6/16/20\",\"8AM\":\"101\",\"11AM\":\"101\",\"1PM\":\"99\",\"6PM\":\"97\"},{\"Date\":\"6/17/20\",\"8AM\":\"96\",\"11AM\":\"100\",\"1PM\":\"101\",\"6PM\":\"100\"},{\"Date\":\"6/18/20\",\"8AM\":\"100\",\"11AM\":\"96\",\"1PM\":\"100\",\"6PM\":\"103\"},{\"Date\":\"6/19/20\",\"8AM\":\"102\",\"11AM\":\"101\",\"1PM\":\"96\",\"6PM\":\"98\"},{\"Date\":\"6/20/20\",\"8AM\":\"98\",\"11AM\":\"96\",\"1PM\":\"102\",\"6PM\":\"96\"},{\"Date\":\"6/21/20\",\"8AM\":\"102\",\"11AM\":\"97\",\"1PM\":\"95\",\"6PM\":\"103\"},{\"Date\":\"6/22/20\",\"8AM\":\"99\",\"11AM\":\"103\",\"1PM\":\"96\",\"6PM\":\"95\"},{\"Date\":\"6/23/20\",\"8AM\":\"103\",\"11AM\":\"99\",\"1PM\":\"96\",\"6PM\":\"97\"},{\"Date\":\"6/24/20\",\"8AM\":\"99\",\"11AM\":\"103\",\"1PM\":\"100\",\"6PM\":\"103\"},{\"Date\":\"6/25/20\",\"8AM\":\"95\",\"11AM\":\"95\",\"1PM\":\"99\",\"6PM\":\"95\"},{\"Date\":\"6/26/20\",\"8AM\":\"99\",\"11AM\":\"95\",\"1PM\":\"103\",\"6PM\":\"96\"},{\"Date\":\"6/27/20\",\"8AM\":\"102\",\"11AM\":\"98\",\"1PM\":\"103\",\"6PM\":\"99\"},{\"Date\":\"6/28/20\",\"8AM\":\"103\",\"11AM\":\"98\",\"1PM\":\"100\",\"6PM\":\"99\"},{\"Date\":\"6/29/20\",\"8AM\":\"98\",\"11AM\":\"101\",\"1PM\":\"98\",\"6PM\":\"101\"},{\"Date\":\"6/30/20\",\"8AM\":\"101\",\"11AM\":\"100\",\"1PM\":\"97\",\"6PM\":\"99\"},{\"Date\":\"7/1/20\",\"8AM\":\"96\",\"11AM\":\"97\",\"1PM\":\"97\",\"6PM\":\"95\"},{\"Date\":\"7/2/20\",\"8AM\":\"98\",\"11AM\":\"102\",\"1PM\":\"96\",\"6PM\":\"97\"},{\"Date\":\"7/3/20\",\"8AM\":\"95\",\"11AM\":\"98\",\"1PM\":\"97\",\"6PM\":\"95\"},{\"Date\":\"7/4/20\",\"8AM\":\"99\",\"11AM\":\"95\",\"1PM\":\"98\",\"6PM\":\"102\"},{\"Date\":\"7/5/20\",\"8AM\":\"96\",\"11AM\":\"98\",\"1PM\":\"96\",\"6PM\":\"96\"}]}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":140,"wires":[["70f27a37.d33034"]]},{"id":"70f27a37.d33034","type":"json","z":"6a2bd334.40491c","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":140,"wires":[["a6ee1101.8a60e"]]},{"id":"c400396e.fb1b88","type":"inject","z":"6a2bd334.40491c","name":"Rahul","topic":"","payload":"{\"Sheet1\":[{\"Date\":\"6/16/20\",\"8AM\":\"102\",\"11AM\":\"99\",\"1PM\":\"101\",\"6PM\":\"102\"},{\"Date\":\"6/17/20\",\"8AM\":\"97\",\"11AM\":\"99\",\"1PM\":\"96\",\"6PM\":\"95\"},{\"Date\":\"6/18/20\",\"8AM\":\"99\",\"11AM\":\"99\",\"1PM\":\"96\",\"6PM\":\"95\"},{\"Date\":\"6/19/20\",\"8AM\":\"95\",\"11AM\":\"103\",\"1PM\":\"98\",\"6PM\":\"101\"},{\"Date\":\"6/20/20\",\"8AM\":\"98\",\"11AM\":\"98\",\"1PM\":\"98\",\"6PM\":\"98\"},{\"Date\":\"6/21/20\",\"8AM\":\"96\",\"11AM\":\"103\",\"1PM\":\"100\",\"6PM\":\"95\"},{\"Date\":\"6/22/20\",\"8AM\":\"95\",\"11AM\":\"96\",\"1PM\":\"99\",\"6PM\":\"101\"},{\"Date\":\"6/23/20\",\"8AM\":\"95\",\"11AM\":\"102\",\"1PM\":\"98\",\"6PM\":\"103\"},{\"Date\":\"6/24/20\",\"8AM\":\"97\",\"11AM\":\"98\",\"1PM\":\"96\",\"6PM\":\"95\"},{\"Date\":\"6/25/20\",\"8AM\":\"100\",\"11AM\":\"102\",\"1PM\":\"103\",\"6PM\":\"103\"},{\"Date\":\"6/26/20\",\"8AM\":\"97\",\"11AM\":\"98\",\"1PM\":\"101\",\"6PM\":\"99\"},{\"Date\":\"6/27/20\",\"8AM\":\"102\",\"11AM\":\"99\",\"1PM\":\"102\",\"6PM\":\"96\"},{\"Date\":\"6/28/20\",\"8AM\":\"100\",\"11AM\":\"100\",\"1PM\":\"96\",\"6PM\":\"102\"},{\"Date\":\"6/29/20\",\"8AM\":\"96\",\"11AM\":\"102\",\"1PM\":\"96\",\"6PM\":\"96\"},{\"Date\":\"6/30/20\",\"8AM\":\"101\",\"11AM\":\"103\",\"1PM\":\"95\",\"6PM\":\"101\"},{\"Date\":\"7/1/20\",\"8AM\":\"102\",\"11AM\":\"95\",\"1PM\":\"103\",\"6PM\":\"102\"},{\"Date\":\"7/2/20\",\"8AM\":\"100\",\"11AM\":\"102\",\"1PM\":\"99\",\"6PM\":\"101\"},{\"Date\":\"7/3/20\",\"8AM\":\"100\",\"11AM\":\"101\",\"1PM\":\"101\",\"6PM\":\"99\"},{\"Date\":\"7/4/20\",\"8AM\":\"102\",\"11AM\":\"102\",\"1PM\":\"102\",\"6PM\":\"95\"},{\"Date\":\"7/5/20\",\"8AM\":\"102\",\"11AM\":\"103\",\"1PM\":\"96\",\"6PM\":\"101\"}]}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":280,"wires":[["a5a5fc4c.e8163"]]},{"id":"a5a5fc4c.e8163","type":"json","z":"6a2bd334.40491c","name":"","property":"payload","action":"obj","pretty":false,"x":330,"y":280,"wires":[["fce68209.0c067"]]},{"id":"839f2fc4.f215","type":"inject","z":"6a2bd334.40491c","name":"Sumit","topic":"","payload":"{\"Sheet1\":[{\"Date\":\"6/16/20\",\"8AM\":\"103\",\"11AM\":\"100\",\"1PM\":\"103\",\"6PM\":\"99\"},{\"Date\":\"6/17/20\",\"8AM\":\"96\",\"11AM\":\"95\",\"1PM\":\"97\",\"6PM\":\"98\"},{\"Date\":\"6/18/20\",\"8AM\":\"99\",\"11AM\":\"99\",\"1PM\":\"102\",\"6PM\":\"103\"},{\"Date\":\"6/19/20\",\"8AM\":\"103\",\"11AM\":\"103\",\"1PM\":\"101\",\"6PM\":\"101\"},{\"Date\":\"6/20/20\",\"8AM\":\"98\",\"11AM\":\"100\",\"1PM\":\"101\",\"6PM\":\"95\"},{\"Date\":\"6/21/20\",\"8AM\":\"102\",\"11AM\":\"97\",\"1PM\":\"101\",\"6PM\":\"101\"},{\"Date\":\"6/22/20\",\"8AM\":\"99\",\"11AM\":\"95\",\"1PM\":\"95\",\"6PM\":\"95\"},{\"Date\":\"6/23/20\",\"8AM\":\"103\",\"11AM\":\"102\",\"1PM\":\"96\",\"6PM\":\"101\"},{\"Date\":\"6/24/20\",\"8AM\":\"99\",\"11AM\":\"97\",\"1PM\":\"100\",\"6PM\":\"95\"},{\"Date\":\"6/25/20\",\"8AM\":\"96\",\"11AM\":\"95\",\"1PM\":\"101\",\"6PM\":\"95\"},{\"Date\":\"6/26/20\",\"8AM\":\"101\",\"11AM\":\"95\",\"1PM\":\"101\",\"6PM\":\"98\"},{\"Date\":\"6/27/20\",\"8AM\":\"97\",\"11AM\":\"95\",\"1PM\":\"102\",\"6PM\":\"97\"},{\"Date\":\"6/28/20\",\"8AM\":\"103\",\"11AM\":\"96\",\"1PM\":\"95\",\"6PM\":\"96\"},{\"Date\":\"6/29/20\",\"8AM\":\"96\",\"11AM\":\"103\",\"1PM\":\"103\",\"6PM\":\"103\"},{\"Date\":\"6/30/20\",\"8AM\":\"102\",\"11AM\":\"103\",\"1PM\":\"103\",\"6PM\":\"98\"},{\"Date\":\"7/1/20\",\"8AM\":\"101\",\"11AM\":\"102\",\"1PM\":\"100\",\"6PM\":\"99\"},{\"Date\":\"7/2/20\",\"8AM\":\"96\",\"11AM\":\"99\",\"1PM\":\"98\",\"6PM\":\"102\"},{\"Date\":\"7/3/20\",\"8AM\":\"102\",\"11AM\":\"103\",\"1PM\":\"96\",\"6PM\":\"98\"},{\"Date\":\"7/4/20\",\"8AM\":\"97\",\"11AM\":\"102\",\"1PM\":\"100\",\"6PM\":\"101\"},{\"Date\":\"7/5/20\",\"8AM\":\"96\",\"11AM\":\"98\",\"1PM\":\"100\",\"6PM\":\"97\"}]}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":360,"wires":[["2d21cc17.08f774"]]},{"id":"2d21cc17.08f774","type":"json","z":"6a2bd334.40491c","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":360,"wires":[["a3d64392.0ed6f"]]},{"id":"6b44220e.19f23c","type":"ui_group","z":"","name":"Rahul Data","tab":"eacab229.05d61","order":3,"disp":true,"width":22,"collapse":false},{"id":"14ae22e1.d9519d","type":"ui_group","z":"","name":"Adi Data","tab":"eacab229.05d61","order":1,"disp":true,"width":"22","collapse":false},{"id":"ab569fc0.0f416","type":"ui_group","z":"","name":"Mohit Data","tab":"eacab229.05d61","order":2,"disp":true,"width":22,"collapse":false},{"id":"83132daa.4c98","type":"ui_group","z":"","name":"Sumit Data","tab":"eacab229.05d61","order":4,"disp":true,"width":22,"collapse":false},{"id":"eacab229.05d61","type":"ui_tab","z":"","name":"Covid Dashboard","icon":"dashboard","order":3,"disabled":false,"hidden":false}]